@model BookModel

@{
    ViewData["Title"] = "Index";
}

<!-- Anime Section Begin -->
<section class="product-section">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-item">
                        <img src="~/Assets/images/@Model.PhotoName" class="img-fluid product-thumbnail">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="text-black">
                        <div class="product-title">
                            <h1>@Model.Name</h1>
                            <span><h4>@Model.AuthorName</h4></span>
                        </div>
                        <p>
                            @Model.Synopsis
                        </p>
                        <div class="product-item">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span class="text-danger">الاسم</span> @Model.Name</li>
                                        <li><span class="text-danger">اسم الكاتب</span> @Model.AuthorName</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span class="text-danger">سنة النشر</span> @Model.PublishYear</li>
                                        <li><span class="text-danger">التصنيفات</span> @string.Join(',', ViewBag.Genres)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn-primary">
                            <input type="number" id="Quantity" value="1"/>
                            <button onclick="addToCart(@Model.BookId")" class="btn btn-success"><i class="fa fa-heart-o"></i> Add to Cart</button>
                            <a asp-controller="Payment" asp-action="Index" asp-route-id="@Model.BookId" class="btn btn-warning">
                                <span>Pay Now</span> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-section">
                <div class="col-lg-12 col-md-8">
                    <div class="section-title">
                        <h5>From Same Author</h5>
                    </div>
                    <div class="row">
                        @{
                            foreach (var book in ViewBag.RelevantAuthor)
                            {
                                <div class="col-6 col-md-2 col-lg-2 mb-5">
                                    <div class="product-item">
                                        <a asp-controller="Details" asp-action="Index" asp-route-id="@book.Id">
                                            <img src="~/Assets/images/@book.Photo" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">@book.Name</h3>
                                            <strong class="product-price">@book.Price</strong>
                                        </a>
                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@book.Id">
                                            <span class="icon-cross">
                                                <img src="~/Assets/images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-12 col-md-8">
                    <div class="section-title">
                        <h5>From Same Type</h5>
                    </div>
                    <div class="row">
                        @{
                            foreach (var book in ViewBag.RelevantType)
                            {
                                <div class="col-6 col-md-2 col-lg-2 mb-5">
                            <div class="product-item">
                                        <a asp-controller="Details" asp-action="Index" asp-route-id="@book.Id">
                                    <img src="~/Assets/images/@book.Photo" class="img-fluid product-thumbnail">
                                    <h3 class="product-title">@book.Name</h3>
                                    <strong class="product-price">@book.Price</strong>
                                </a>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@book.Id">
                                    <span class="icon-cross">
                                        <img src="~/Assets/images/cross.svg" class="img-fluid">
                                    </span>
                                </a>
                            </div>
                        </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-12 col-md-8">
                    <div class="section-title">
                        <h5>From Same Year</h5>
                    </div>
                    <div class="row">
                        @{
                            foreach (var book in ViewBag.RelevantYear)
                            {
                                <div class="col-6 col-md-2 col-lg-2 mb-5">
                                    <div class="product-item">
                                        <a asp-controller="Details" asp-action="Index" asp-route-id="@book.Id">
                                            <img src="~/Assets/images/@book.Photo" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">@book.Name</h3>
                                            <strong class="product-price">@book.Price</strong>
                                        </a>
                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@book.Id">
                                            <span class="icon-cross">
                                                <img src="~/Assets/images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function addToCart(Id) {
            let quan = document.getElementById('Quantity').value;
            $.ajax({
                type: "POST",
                url: "/Cart/Add",
                data: {
                    "bookId": Id,
                    "quantity": quan
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert("Failed to add product.");
                    }
                },
                error: function () {
                    alert("An error occurred.");
                }
            });
        }
    </script>
    @* <script>
        function addToCart(Id) {
            console.log(Id);
            $.ajax({
                url: "/Cart/Add",
                data: { "deptId": deptID },
                type: "GET",
                success: function (result) {
                    console.log(result);
                    document.getElementById("RelativeInstructors").innerHTML = result;
                }
            });
        }
    </script> *@


}
