@using BookStore.Models.ViewModels
@model List<CartItemModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                                @*                                 <th class="product-remove"></th>
                                *@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="~/Assets/images/@item.PhotoName" alt="@item.BookName" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.BookName</h2>
                                        </td>
                                        <td>@item.BookPrice</td>
                                        <td>
                                            <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <a href="#" onclick="changeQuantity(@item.ItemId, 'nig', @item.BookPrice)" class="btn btn-outline-black decrease" type="button">−</a>
                                                </div>
                                                <input disabled id="itemQuantity@(item.ItemId)" type="text" class="form-control text-center quantity-amount" value="@item.Quantity">
                                                <div class="input-group-append">
                                                    <a href="#" onclick="changeQuantity(@item.ItemId, 'pos', @item.BookPrice)" class="btn btn-outline-black increase" type="button">+</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="oneTotal@(item.ItemId)">@item.TotalPriceOfOneCartItem </td>
                                        <td><a asp-controller="Cart" asp-action="Delete" asp-route-itemId="@item.ItemId" class="btn btn-black btn-sm">X</a></td>
                                        @* <td><a asp-controller="Payment" asp-action="Start" asp-route-itemid="@item.ItemId" class="btn btn-black btn-sm">Pay Now</a></td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
                    </div>
                </div>
                @* <div class="row">
                <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
                </div>
                <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                </div>
                <div class="col-md-4">
                <button class="btn btn-black">Apply Coupon</button>
                </div>
                </div>
                </div> *@
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong id="AllTotal" class="text-black">@ViewBag.Total</strong>
                                </div>
                            </div>


                            @* <div class="row">
                            <div class="col-md-12">
                            <button class="btn btn-black btn-lg py-3 btn-block" asp-controller="Payment" asp-action="Checkout">Proceed To Checkout</button>
                            </div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @section Scripts {
        <script>
            function changeQuantity(Id, change, price) {
                event.preventDefault();
                console.log(price);
                let allTotal = document.getElementById("AllTotal").innerHTML;

                let Quantity = Number(document.getElementById("itemQuantity" + Id).value);
                let newQuantity;
                if (change == "pos") {
                    newQuantity = Number(Quantity + 1);
                }
                else {
                    newQuantity = Number(Quantity - 1);
                }

                console.log(newQuantity);
                $.ajax({
                    type: "POST",
                    url: "/Cart/ChangeQuantity",
                    data: {
                        "cartId": Id,
                        "newQuantity": newQuantity,
                        "oldQuantity": Quantity,
                        "price": price,
                        "allTotal": allTotal
                    },
                    success: function (result) {
                        console.log("Success");
                        document.getElementById("oneTotal"+Id).innerHTML = result.oneTotal;
                        document.getElementById("AllTotal").innerHTML = result.allTotal;
                    },
                    error: function (result) {
                        console.log("error");
                    }
                });
            }
        </script>
    }
